@page
@model GetConsultantCalendarModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section>
    <label for="consultant">Select Consultant you wish to make an appointment for</label>
    <div class="form-group">
        @if (Model._consultantOutputDto != null)
        {
            int i = 0;
            <select id="consultant" class="form-control">
                <option value="-">- Select Consultant -</option>
                @foreach (var consultant in Model._consultantOutputDto)
                {
                    i++;
                    <option value="@i">@consultant.FirstName @consultant.LastName</option>
                }
            </select>
        }
    </div>

</section>
<section>
    <div id='calendar'></div>
</section>